// Rename this file to secrets.h and fill in your WiFi and MQTT credentials

#define SECRET
#define THINGNAME "esp32_0001"

const char *WIFI_SSID = "your_ssid";
const char *WIFI_PASSWORD = "your_password";

const char *MQTT_ENDPOINT = "your_mqtt_address";
